asgiref==3.8.1
certifi==2025.1.31
charset-normalizer==3.4.1
Django==5.1.1
django-ckeditor==6.7.1
django-etc==1.4.0
django-js-asset==2.2.0
dotenv==0.9.9
idna==3.10
pillow==10.4.0
python-dotenv==1.1.0
sqlparse==0.5.1
tzdata==2024.1
urllib3==2.3.0
