{% extends 'main/base.html' %} {% load static %}

{% block meta %}
  <meta name="description" content="{{ blog.description|striptags|truncatechars:155 }}">
  <meta property="og:title" content="{{ blog.title }}">
  <meta property="og:description" content="{{ blog.description|striptags|truncatechars:155 }}">
  <meta property="og:type" content="article">
  <meta property="og:url" content="{{ request.build_absolute_uri }}">
  <meta name="robots" content="index, follow">
{% endblock %}

{% block content %}
<title>Blogs - {{ blog.title }}</title>
<!-- <div class="post-detail-container">
  <h1>{{ blog.title }}</h1>
  <br>
  <p>{{ blog.date|date:"F j, Y" }}</p>
  <br>
  <hr>
  <br>
  <div>
    {{ blog.content|safe }}
  </div>
</div> -->
<article class="post-detail-container">
  <header>
    <h1 class="post-title">{{ blog.title }}</h1>
    <br>
    <p>
      <time datetime="{{ blog.date|date:'Y-m-d' }}">{{ blog.date|date:"F j, Y" }}</time>
    </p>
    <br>
    <hr>
    <br>
  </header>

  <section>
    {{ blog.content|safe }}
  </section>
</article>
{% endblock %}
