{% extends 'main/base.html' %}
{% load static %}

{% block content %}
  <title>Contact Haokai</title>
  <div class="contact-container">
    <form action="https://api.web3forms.com/submit" method="POST" class="form-style">
      <div class="contact-title">
        <h2>Get in touch</h2>
        <hr>
      </div>
      <input type="hidden" name="access_key" value="2a9b7b22-a68a-445f-b1e4-599d7954330a">
      <input type="text" name="name" placeholder="Your name" class="contact-inputs" required>
      <input type="email" name="email" placeholder="Your email" class="contact-inputs" required>
      <textarea name="message" placeholder="Your message" class="contact-inputs" required></textarea>
      <button type="submit">Submit <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#d3d3d3"><path d="M630-444H192v-72h438L429-717l51-51 288 288-288 288-51-51 201-201Z"/></svg></button>
    </form>
  </div>
{% endblock %}