{% extends "main/base.html" %}
{% load static %}
{% block content %}
<title>Haokai's Home Page</title>
<div class="banner">
  <div class="text-content">
    <div class="text-anim-container">
      <h3 class="home-greeting">Hi I'm</h3>
    </div>
    <br>
    <div class="text-anim-container">
      <h1 class="home-name">
        {{ user_profile.first_name }} {{ user_profile.last_name }}
      </h1>
    </div>
    <br>
    <div class="text-anim-container">
      <h2 class="home-job">{{ user_profile.title }}</h2>
    </div>
    <br>
    <br>
    <br>
    <div class="bio">
      <p>{{ user_profile.bio|safe }}</p>
    </div>
    <br>
    {% if user_profile.cv %}
    <div class="download-button-div">
      <a class="download-button" target="_blank" href="{{ user_profile.cv.url }}">Resume</a>
    </div>
    {% endif %}
  </div>
  {% if user_profile.avatar %}
  <img
    class="avatar-image"
    src="{{ user_profile.avatar.url }}"
    alt="{{ user_profile.first_name }}'s avatar"
  />
  {% endif %}
</div>
<div class="section">
  <img class="section-content" src="https://github-readme-stats-git-master-haokai-xuans-projects.vercel.app/api?username=haokai-xuan&show_icons=true&theme=shadow_blue" />
  <img class="section-content" src="https://github-readme-streak-stats-ruby-eight.vercel.app?user=haokai-xuan&theme=shadow-blue&card_width=467" alt="GitHub Streak" />
</div>
{% endblock %}
