{% extends 'main/base.html' %} {% load static %} {% block content %}
<title>Haokai's Projects</title>
<div class="posts-container">
<h1>Projects</h1>
{% for project in projects %}
  {% if project.is_active %}
    <a href="{% url 'project_detail' project.slug %}">
      <div class="card">
          <img src="{{ project.image.url }}"/>
          <div class="post-content-container">
            <h3><b>{{ project.title }}</b></h3>
            <hr>
            <p class="fa fa-eye"> {{ project.hit_count.hits }}</p>
            <p>{{ project.description }}</p>
            <p class="date">{{ project.date|date:"F j, Y" }}</p>
            <div class="tags">
              {% for tag in project.tags.all %}
                <span>{{ tag.name }}</span>
              {% endfor %}
            </div>
          </div>
      </div>
    </a>
  {% endif %}
  {% endfor %}
</div>
{% endblock %}
